[user]
  name = Carlos Moreira
  email = 75152235+devmoreir4@users.noreply.github.com
[color]
  ui = auto
[init]
  defaultBranch = main
[core]
  editor = nvim
  excludesFile = ~/.gitignore_global
  autocrlf = input
[alias]
  co = checkout
  br = branch
  cm = commit -m
  st = status
  df = diff
  ft = fetch
  s = stash
  rb = rebase
  pl = pull
  ps = push
  plr = pull --rebase
  lg = log --oneline --graph --decorate --all
  hist = log --pretty=format:"%h %ad | %s%d [%an]" --graph --date=short
  last = log -1 HEAD
  amend = commit --amend --no-edit
  unstage = reset HEAD --
  uncommit = reset --soft HEAD^
  cleanup = "!git reset --hard && git clean -fd"
